{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Add Event</title>

    <link rel="stylesheet" href="{% static 'events/style.css' %}">
</head>

<body>

<div id="add-event-container">

    <h2 id="add-event-title">
        ➕ Add New Event
    </h2>

    <form method="POST" id="add-event-form">

        {% csrf_token %}

        <input
    type="text"
    name="name"
    placeholder="Enter event title..."
    required
>

<input
    type="date"
    name="date"
    required
>

<input
    type="text"
    name="location"
    placeholder="Enter event location..."
    required
>

<select name="status">

    <option value="Upcoming">
        Upcoming
    </option>

    <option value="Ongoing">
        Ongoing
    </option>

    <option value="Completed">
        Completed
    </option>

</select>
<textarea
    name="description"
    placeholder="Write event description here..."
></textarea>

       <div class="event-btns">

    <button type="submit">
        Add Event
    </button>

    <button type="button" id="cancel-btn">
        Cancel
    </button>

</div>

    </form>

</div>
<script src="{% static 'events/popup.js' %}"></script>
</body>
</html>