{% load static %}

<!doctype html>
<html>
  <head>
    <title>Edit Event</title>

    <link rel="stylesheet" href="{% static 'events/style.css' %}" />
  </head>

  <body>
    <div id="edit-event-container">
      <h2 id="edit-event-title">✏ Edit Event</h2>

      <form method="POST" id="edit-event-form">
        {% csrf_token %}

        <input
          type="text"
          name="name"
          value="{{ event.name }}"
          placeholder="Update event title..."
          required
        />

        <input
          type="date"
          name="date"
          value="{{ event.date|date:'Y-m-d' }}"
          required
        />

        <input
          type="text"
          name="location"
          value="{{ event.location }}"
          placeholder="Update event location..."
          required
        />

        <select name="status">
          <option
            value="Upcoming"
            {%
            if
            event.status=""
            ="Upcoming"
            %}selected{%
            endif
            %}
          >
            Upcoming
          </option>

          <option
            value="Ongoing"
            {%
            if
            event.status=""
            ="Ongoing"
            %}selected{%
            endif
            %}
          >
            Ongoing
          </option>

          <option
            value="Completed"
            {%
            if
            event.status=""
            ="Completed"
            %}selected{%
            endif
            %}
          >
            Completed
          </option>
        </select>

        <textarea name="description" placeholder="Update event description...">
{{ event.description }}</textarea
        >

        <button type="submit" id="edit-event-submit-btn">Update Event</button>
      </form>
    </div>
  </body>
</html>
