{% load static %}
    <link rel="stylesheet" href="{% static 'events/style.css' %}">
</head>

<body>

<div class="navbar">

    <div class="logo">
        🎓 Event Portal
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/registered/">Registered</a>
        <a href="/view-feedback/">Feedbacks</a>
        <a href="/admin/">Admin</a>
    </div>

    <div class="user-info">
        👤 {{ request.user.username }}
        <a href="{% url 'logout' %}">Logout</a>
    </div>

</div>


<h1 class="main-title">
    📋 Registered Students
</h1>


<div class="events-container">

{% for reg in registrations %}

    <div class="event-card">

        <div class="event-title">
            {{ reg.student_name }}
        </div>

        <div class="event-info">
            Registered for: {{ reg.event.name }}
        </div>

    </div>

{% empty %}

    <div class="event-card">
        <div class="event-info">
            No registrations available
        </div>
    </div>

{% endfor %}

</div>

</body>
</html>